:root {
  --background-color: #080c20;
  --font: "Manrope", sans-serif;
  --theme-color: #3ee9e5;
  --header-color: #ffff;
  --second-bg: #093f68;
  --body-color: #777f98;
  --error-color: #ff2965;
}
